.right-side {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-color: #ffffff; 
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  max-width: 900px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #0D1B2A; 
  color: white;
  padding: 20px;
  border-radius: 12px;
  width: 280px;
  min-height: 180px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.card-header {
  display: flex;
  align-items: center; 
  gap: 10px;
  margin-bottom: 10px;
}

.card-logo {
  width: 40px;
  height: 40px;
}

.card-title {
  font-size: 16px;
  font-weight: bold;
  color: #5DADE2; 
}

.card-text {
  font-size: 12px;
  line-height: 1.4;
  text-align: left;
}



/* Mobile View */
@media (max-width: 768px) {
  .Main {
      flex-direction: column;
      align-items: center;
  }

  .left, .right-side {
      width: 100%;
      text-align: center;
      padding: 20px;
  }

  .email-input {
      width: 90%;
      padding: 14px;
  }

  .button {
      width: 90%;
      padding: 14px;
  }

  .card {
      width: 90%;
      margin: 10px auto;
  }
  .cards-container{
    margin-top: -40vh;
    /* margin-bottom: 24px; */
  }
  .right-side{
    /* margin-bottom: -100px;
     */
     /* padding: 200px; */
  }
}

